
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-display-middle"style="margin-top:150px;">
    <h1 class="w3-animate-left">
        <a style=color:#785ff4>Create </a><a style=color:#1185f9>Manager </a><a style=color:#3ae2fc>Account</a>
    </h1>
    @using (Html.BeginForm("CreateManagerAccountPost", "Home", FormMethod.Post))
    {
    <div class="container" style="text-align:center;">

        @Html.TextBox("usernameData", null, new { @placeholder = "Enter Manager's Username", required = "required" })<br />

        @Html.Password("passwordData", null, new { @placeholder = "Enter Manager's Password", required = "required" })<br />

        @Html.TextBox("firstName", null, new { @placeholder = "Enter Manager's First name", required = "required" })<br />

        @Html.TextBox("lastName", null, new { @placeholder = "Enter Manager's Last Name", required = "required" })<br />

        @Html.TextBox("street", null, new { @placeholder = "Enter Manager's Street Address", required = "required" })<br />

        @Html.TextBox("city", null, new { @placeholder = "Enter Manager's City Name", required = "required" })<br />

        <select name="province" style="width: 100%; height: 40px; padding: 0px 20px; margin: 8px 0; display: inline-block;border: 1px solid #ccc;box-sizing: border-box;">
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Newfoundland">Newfoundland</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Nunavut">Nunavut</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Yukon">Yukon</option>
        </select>

        @Html.TextBox("postalCode", null, new { @placeholder = "Enter Manager's Postal Code", required = "required" })<br />

        @Html.TextBox("emailData", null, new { @placeholder = "Enter Manager's E-Mail Address", required = "required" })<br />

        @Html.TextBox("phoneData", null, new { @placeholder = "Enter Manager's Phone Number", required = "required" })<br />

        @Html.TextBox("sin", null, new { @placeholder = "Enter Manager's SIN", required = "required" })<br />

        @Html.TextBox("startdate", null, new { @placeholder = "Enter Manager's Start Date", required = "required" })<br />

        @Html.TextBox("hourlywage", null, new { @placeholder = "Enter Manager's Hourly Wage", required = "required" })<br />

        @Html.TextBox("storeid", null, new { @placeholder = "Enter Manager's Store ID", required = "required" })<br />

        <br />
        <div style="text-align:center;">
            <input type="submit" style="float: none; background-color: #1185f9;color: white; padding: 10px 15px; margin: 8px 0; border: none; cursor: pointer; width: 250px;" value="Create Manager Account" />
        </div>
    </div>
    }
</div>

<style>

    form {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }

    input, textarea {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 700px;
        height: 40px;
    }

        input:focus, textarea:focus {
            border-color: aquamarine;
        }

        /* Full-width inputs */
        input[type=text], input[type=password], input[type=tel], input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }



    /* Add padding to containers */
    .container {
        padding: 16px;
    }

    a:hover {
        color: #634cf7;
        background-color: transparent;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    p2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    p3 {
        position: absolute;
        bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>
