<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="font-family: 'MontSerrat'; font-weight: 600; font-size: 16px; color: white;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fresh Direct", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-family: 'MontSerrat'; font-weight: 600; font-size: 14px; color: white;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Stores", "ViewStores", "Home")</li>
                    @if (@GroceryStore.Models.Globals.getUserType(@GroceryStore.Models.Globals.getUser()) == "manager")
                    {
                      <li>@Html.ActionLink("View Employees", "ViewEmployees", "Home")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (@GroceryStore.Models.Globals.isLoggedIn() == true)
                    {
                        <li style="padding-top: 15px; padding-bottom:15px;line-height: 20px;">Logged in as: @GroceryStore.Models.Globals.getUser()    </li>
                        <li><a href='@Url.Action("ViewCart", "Home")'><img src="http://www.freepngimg.com/download/cart/8-2-cart-picture-thumb.png" height="25" width="25" /></a></li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Home")</li>
                    }
                    else
                    {
                        <li id="UsernameDisplay">@Html.ActionLink(GroceryStore.Models.Globals.getUser(), "GoToLogin", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrap">
        @RenderBody()
    </div>
    <footer id="footerContent" class="site-footer">
            <hr />
            &copy; @DateTime.Now.Year - Created by M.Lau, S.Li & J.Nieto
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    * {
        margin: 0;
    }

    html, body {
        height: 100%;
    }

    .page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -20px;
    }

        .page-wrap:after {
            content: "";
            display: block;
        }

        .site-footer, .page-wrap:after {
            height: 20px;
        }

    footerContent {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>